.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 93vh;
    background: url('../img/background.png') no-repeat center center fixed;
    background-size: cover;
}

.auth-page__content {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 20px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.auth-page__content.visible {
    transform: scale(1);
    opacity: 1;
}

.auth-form {
    color: white;
}

.auth-form__register {
    position: relative;
}

.auth-form__login,
.auth-form__register {
    display: none;
}

.auth-form__login.active,
.auth-form__register.active {
    display: block;
}

.auth-form__title {
    font-size: 32px;
    margin-bottom: 25px;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.auth-form__input {
    display: block;
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:last-child {
    margin-bottom: 25px;
}

.auth-form__input:focus {
    border-color: #f7b834;
}

.auth-form__input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.auth-form__btn {
    width: 100%;
    padding: 15px;
    background: #FF459F;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    margin-bottom: 15px;
}

.auth-form__btn:hover {
    background: white;
    color: #FF459F;
}

.auth-form__toggle {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: color 0.3s ease;
}

.auth-form__toggle:hover {
    color: #f7b834;
}

/* окно выбора уровня */
.level-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.level-modal.visible {
    display: flex;
    opacity: 1;
}

.level-modal__content {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 20px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    transform: translateY(-50px);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.level-modal.visible .level-modal__content {
    transform: translateY(0);
    opacity: 1;
}

.level-modal__title {
    font-size: 32px;
    margin-bottom: 25px;
    text-align: center;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.level-modal__options {
    display: flex;
    flex-direction:column;
    gap: 15px;
}

.level-modal__btn {
    padding: 15px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.level-modal__btn:hover {
    background: white;
    color: #3498db;
}

.error-message {
    color: #fff;
    font-size: 14px;
    background: rgba(255, 0, 0, 0.1);
    border: solid 1px rgba(255, 0, 0, 0.2);
    padding: 10px 12px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
}


.error-message:empty {
    display: none;
}