@media screen and (max-width: 1540px) {
    .course-content__items {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .course-content__item {
        width: 100%;
        padding: 30px 15px;
    }
}

@media screen and (max-width: 1400px) {
    .features {
        padding: 60px 0;
        border-radius: 30px;
        gap: 60px;
    }

    .features__item {
        flex-direction: column;
        text-align: center;
    }

    .features__item--reverse {
        flex-direction: column;
    }

    .features__icon {
        width: 200px;
        margin: 0;
    }

    .features__text {
        width: 80%;
    }

    .features__title {
        font-size: 32px;
        text-align: center;
    }

    .features__description {
        font-size: 24px;
        text-align: center;
    }

    .footer__content {
        flex-direction: column;
        padding: 0 40px;
        gap: 15px;
    }

    .footer__left {
        flex-direction: column;
        gap: 15px;
    }

    .footer__description {
        max-width: 100%;
    }
}

@media screen and (max-width: 1400px) {
    .header {
        padding: 10px 15px;
        border-radius: 20px;
    }

    .header__logo {
        width: 60px;
        height: 60px;
    }

    .header__site-name {
        font-size: 24px;
    }

    .header__nav {
        display: none;
        gap: 10px;
    }

    .hamb {
        display: flex;
        align-items: center;
    }

    .hamb__field {
        padding: 8px 15px;
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 2px;
        margin: 5px auto;
    }

    .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamb__field.active .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .hamb__field.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    .popup {
        position: fixed;
        top: 92px;
        left: -100%;
        width: 100%;
        height: calc(100% - 75px);
        background-color: #8B5CF6;
        border-radius: 20px;
        z-index: 1000;
        display: flex;
        transition: left 0.3s ease;
    }

    .popup.open {
        left: 0;
    }

    .popup .header__nav {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 30px 30px;
        overflow: auto;
    }

    .popup .header__link,
    .popup .header__login-btn,
    .user-menu__logout {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 18px 0;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        border-radius: 10px;
        margin: 5px 0;
        transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    }

    .popup .header__link:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .popup .header__login-btn:hover {
        background: #ffffff;
        color: #3498db;
    }

    .user-menu__logout:hover {
        background-color: #ffffff;
        color: #FF459F;
    }

    body.no-scroll {
        overflow: hidden;
    }

    .start-training {
        padding: 40px 20px;
        border-radius: 20px;
        margin-bottom: 100px;
    }

    .start-training__content {
        max-width: 100%;
        text-align: center;
    }

    .start-training__title {
        font-size: 32px;
    }

    .start-training__description {
        width: 100%;
        font-size: 22px;
        line-height: 30px;
    }

    .start-training__btn {
        padding: 15px 25px;
        font-size: 20px;
    }

    .start-training__image {
        display: none;
    }

    .course-content__item {
        width: 100%;
        padding: 30px 15px;
    }

    .course-content__item:first-child .course-content__icon {
        width: 160px;
        height: 190px;
    }

    .course-content__item:nth-child(2) .course-content__icon {
        width: 190px;
        height: 190px;
    }

    .course-content__item:last-child .course-content__icon {
        width: 260px;
        height: 189px;
    }

    .course-content__title {
        font-size: 20px;
    }

    .course-content__text {
        font-size: 16px;
    }

    .features {
        padding: 40px 0;
        border-radius: 20px;
        gap: 40px;
    }

    .features__title {
        font-size: 28px;
    }

    .features__description {
        font-size: 20px;
    }

    .features__icon {
        width: 150px;
    }

    .footer {
        padding: 30px 0 15px;
        border-radius: 20px;
    }

    .footer__content {
        padding: 0 20px;
    }

    .footer__logo {
        width: 40px;
        height: 40px;
    }

    .footer__site-name {
        font-size: 24px;
    }

    .footer__description {
        font-size: 18px;
    }

    .footer__title {
        font-size: 20px;
    }

    .footer__nav-item,
    .footer__contacts-item {
        font-size: 18px;
    }

    .footer__social-icon {
        width: 40px;
        height: 40px;
    }

    .about-description__features {
        display: block;
    }

    .about-description__feature {
        margin-bottom: 25px;
    }

    .reviews {
        padding: 40px 40px;
        margin-bottom: 20px;
    }

    .reviews__title {
        margin-top: 0;
        margin-bottom: 40px;
        font-size: 36px;
    }

    .reviews__grid {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 40px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 600px) {
    .features {
        gap: 30px;
        margin-bottom: 20px;
    }

    .about {
        padding: 20px 30px;
        border-radius: 40px;
        margin-bottom: 20px;
    }

    .about__title,
    .about-description__title {
        margin: 10px 0 20px 0;
        font-size: 34px;
    }

    .about__description,
    .about-description__text {
        margin: 0;
        font-size: 18px;
    }

    .about-description__block {
        padding: 20px 30px;
        border-radius: 40px;
        margin-bottom: 20px;
    }

    .about-description__feature {
        margin-bottom: 15px;
        padding: 25px;
    }

    .about-description__icon {
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
    }

    .about-description__feature-title {
        margin: 10px 0;
        font-size: 20px;
    }

    .about-description__feature-text {
        font-size: 16px;
    }

    .reviews {
        padding: 40px 20px;
        margin-bottom: 20px;
    }

    .reviews__title {
        margin-bottom: 40px;
        font-size: 32px;
    }

    .reviews__card {
        padding: 20px;
    }

    .reviews__user {
        margin-bottom: 10px;
    }

    .reviews__avatar {
        width: 60px;
        height: 60px;
    }

    .reviews__user-name {
        font-size: 18px;
    }

    .reviews__text {
        font-size: 15px;
    }

    .reviews__date {
        font-size: 12px;
    }

    .reviews__grid {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 20px;
        padding: 0 10px;
    }

    .footer__bottom {
        margin-top: 30px;
        padding-top: 18px;
    }

    .footer__copyright {
        font-size: 14px;
        margin: 0;
    }

    .module-header {
        padding: 20px 30px;
    }

    .module-header__logout {
        font-size: 18px;
    }

    .module-content {
        padding: 10px 33px;
    }

    .module-content__title,
    .module-content__lesson-title,
    .module-content__subheading {
        font-size: 34px;
    }

    .module-content__lesson-title {
        margin-bottom: 30px;
    }

    .module-content__subheading {
        margin: 25px 0 10px;
    }

    .module-content__lesson-list li {
        padding-left: 20px;
        font-size: 16px;
    }

    .module-content__lesson-text,
    .module-content__welcome-text {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .next-lesson-btn {
        font-size: 14px;
    }

    .footer-module {
        padding: 10px 30px;
    }

    .footer__copyright {
        font-size: 12px;
    }

    .footer__social-links {
        gap: 12px;
    }

    .footer__social-icon {
        width: 30px;
        height: 30px;
    }

    .modal__content {
        padding: 20px;
        width: 90%;
    }

    .modal__close {
        top: 10px;
        right: 20px;
    }

    .modal h2 {
        font-size: 26px;
        margin-bottom: 25px;
    }

    .modal__contacts {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    body {
        padding: 5px;
    }

    .header__logo {
        width: 50px;
        height: 50px;
    }

    .header__site-name {
        font-size: 16px;
    }

    .start-training {
        padding: 30px 15px;
        margin-bottom: 60px;
    }

    .start-training__title {
        font-size: 28px;
    }

    .start-training__description {
        font-size: 18px;
        line-height: 25px;
    }

    .course-content {
        margin-bottom: 60px;
    }

    .start-training__text {
        margin-bottom: 40px;
    }

    .course-content__item:first-child .course-content__icon {
        width: 110px;
        height: 150px;
    }

    .course-content__item:nth-child(2) .course-content__icon {
        width: 150px;
        height: 150px;
    }

    .course-content__item:last-child .course-content__icon {
        width: 210px;
        height: 139px;
    }

    .features__title {
        font-size: 22px;
    }

    .features__description {
        font-size: 16px;
    }

    .features__text {
        width: 90%;
    }

    .features__icon {
        width: 120px;
    }

    .features__item {
        gap: 10px;
    }

    .footer__description {
        font-size: 14px;
    }

    .footer__content {
        gap: 14px;
    }

    .footer__left {
        flex-direction: column;
        gap: 14px;
    }

    .footer__title {
        font-size: 16px;
    }

    .footer__nav-item,
    .footer__contacts-item {
        font-size: 14px;
    }

    .footer__contact-icon {
        width: 25px;
        height: 25px;
    }

    .footer__bottom {
        margin-top: 25px;
        padding-top: 14px;
    }

    .footer__copyright {
        font-size: 12px;
        margin: 0;
    }

    .auth-page__content {
        padding: 15px;
        width: 95%;
    }

    .about,
    .about-description__block {
        padding: 14px 22px;
        margin-bottom: 20px;
    }

    .about__title,
    .about-description__title {
        margin: 6px 0 18px 0;
        font-size: 19px;
    }

    .about__description {
        margin: 0;
        font-size: 14px;
    }

    .about-description__text {
        margin: 0;
        font-size: 14px;
    }

    .about-description__feature {
        margin-bottom: 12px;
        padding: 22px;
    }

    .about-description__icon {
        width: 60px;
        height: 60px;
        margin-bottom: 8px;
    }

    .about-description__feature-title {
        margin: 10px 0;
        font-size: 16px;
    }

    .about-description__feature-text {
        font-size: 14px;
    }


    .reviews {
        padding: 20px 0;
        margin-bottom: 20px;
    }

    .reviews__title {
        margin-bottom: 20px;
        font-size: 28px;
    }

    .reviews__grid {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 20px;
        padding: 0 10px;
    }

    .module-header {
        padding: 20px 20px;
    }

    .module-header__logout {
        font-size: 14px;
    }

    .module-content {
        padding: 10px 18px;
    }

    .module-content__title,
    .module-content__lesson-title,
    .module-content__subheading {
        font-size: 26px;
    }

    .module-content__lesson-title {
        margin-bottom: 30px;
    }

    .module-content__subheading {
        margin: 25px 0 10px;
    }

    .module-content__lesson-list li {
        padding-left: 20px;
        font-size: 16px;
    }

    .module-content__lesson-text,
    .module-content__welcome-text {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .next-lesson-btn {
        font-size: 12px;
    }

    .footer-module {
        padding: 10px 18px;
    }

    .footer__copyright {
        font-size: 9px;
    }

    .footer__social-links {
        gap: 8px;
    }

    .footer__social-icon {
        width: 25px;
        height: 25px;
    }

    .modal__content {
        padding: 15px;
    }

    .modal__close {
        top: 4px;
        right: 12px;
    }

    .modal h2 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .modal__contacts {
        font-size: 16px;
    }
}